.main {
  display: grid;
  gap: 1rem;
  padding: 2rem 1rem;
}

.main .main__title {
  text-align: center;
  font-size: 1.6rem;
}

.main .main__table-wrapper {
  overflow: auto;
  padding-bottom: 1rem;
}

.main .main__table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1000px;
}

.main .main__table th,
.main .main__table td {
  padding: 0.4rem 0.8rem;
  border: solid 2px #555555;
  white-space: nowrap;
}

.main .main__table th strong,
.main .main__table td strong {
  color: #555555;
}

.main .main__table th {
  background-color: #333333;
  color: #ffffff;
}

.main .main__table tbody tr td:nth-child(1) {
  text-align: center;
}

.main .main__table-workers {
  position: relative;
}

.main .main__table-workers-title {
  cursor: pointer;
  transition: 0.2s;
}

.main .main__table-workers-title:hover {
  color: blue;
}

.main .main__table-workers-list {
  position: absolute;
  top: 100%;
  right: 50%;
  padding: 1rem;
  background-color: #eaeaea;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transform: translate(0, 0);
  transition: 0.3s;
}

.main .main__table-workers-list::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 1rem;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #eaeaea transparent;
  filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.2));
  z-index: 9;
}

.main .main__table-workers-list.main__table-workers-list--hidden {
  visibility: hidden;
  opacity: 0;
  transform: translate(0, 10px);
}

.main .main__table tfoot tr {
  background-color: #dadada;
}
