@font-face {
  font-family: "Quicksand-Bold";
  src: url("./../assets/fonts/Quicksand-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand-Bold";
  background-color: #eaeaea;
  color: #212121;
  user-select: none;
  scroll-behavior: smooth;
}

body.body--overflow {
  overflow: hidden;
}

.container {
  margin-bottom: 2rem;
  transition: 1s 1s;
}

.container.container--security {
  opacity: 0;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #bfbfbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 10px;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}