.summary {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  visibility: visible;
}

.summary.summary--hidden {
  visibility: hidden;
  display: none;
}

.summary .summary__title {
  text-align: center;
  font-size: 1.6rem;
}

.summary .summary__table-wrapper {
  overflow: auto;
  padding-bottom: 1rem;
}

.summary .summary__table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1000px;
}

.summary .summary__table th,
.summary .summary__table td {
  padding: 0.4rem 0.8rem;
  border: solid 2px #555555;
  white-space: nowrap;
}

.summary .summary__table th strong,
.summary .summary__table td strong {
  color: #444444;
}

.summary .summary__table th {
  background-color: #333333;
  color: #ffffff;
}

.summary .summary__table tbody tr td:nth-child(1) {
  text-align: center;
}

.summary .summary__table tfoot tr {
  background-color: #dadada;
}
 
.summary-toggle {
   display: flex;
   justify-content: center;
   /* padding: 1rem 0; */
   padding-bottom: 2rem;
}
