.u-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.u-button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #eaeaea;
   color: #212121;
   cursor: pointer;
   outline: none;
   padding: 0.4rem 0.8rem;
   border: none;
   border-radius: 3px;
   font-family: "Quicksand-Bold";
   box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
   transition: 0.2s;
}

.u-button:disabled {
  background-color: #aeaeae;
  color: #555555;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.u-button:disabled:hover {
  cursor: default;
  background-color: #aeaeae;
  color: #555555;
}
.u-icon {
  color: #333333;
  width: 1.7rem;
  height: 1.7rem;
  padding: 0.2rem;
  transition: 0.2s;
}

.u-button:hover,
.u-button--active {
  background-color: #212121;
  color: #eaeaea;
}

.u-button--active:disabled {
  background-color: #212121;
  color: #eaeaea;
}
.u-button--active:disabled:hover {
  background-color: #212121;
  color: #eaeaea;
}

.u-link {
  text-decoration: none;
  color: #212121;
  transition: 0.2s;
}

.u-link:hover {
  color: blue;
}

.u-input {
  width: 100%;
  outline: none;
  font-family: "Quicksand-Bold";
  padding: 0.4rem;
  border: solid 3px #aeaeae;
  border-radius: 3px;
  transition: 0.2s;
}

.u-input:focus {
  border-color: salmon;
}
