<div class="security__controls">
  <header class="security__header">
    <h3 class="security__title">Selamat Datang!</h3>
    <p class="security__paragraph">Ga boleh ngeluh sebelum jadi COA >_<</p>
  </header>
  <main class="security__main">
    <div class="security__item">
      <label for="pass1">Username:</label>
      <input type="input" class="security__pass1 u-input" id="pass1" placeholder="12345" value="Hannachan" disabled>
    </div>
    <div class="security__item">
      <label for="pass2">Password:</label>
      <input type="text" class="security__pass2 u-input" id="pass2" placeholder="12345" value="Asynchronous" disabled>
    </div>
    <div class="security__item">
      <button type="button" class="section__button u-button">Masuk</button>
    </div>
  </main>
</div>