<div class="sidebar__controls">
  <a href="#menu#calculator" class="sidebar__link u-link" data-title="Kalkulator Gaji">Kalkulator Gaji</a>
  <a href="#menu#help" class="sidebar__link u-link" data-title="Bantuan">Bantuan</a>
  <a href="#menu#feedback" class="sidebar__link u-link" data-title="Kritik & Saran">Kritik & Saran</a>
  <a href="#menu#report" class="sidebar__link u-link" data-title="Laporkan Bug">Laporkan Bug</a>
  <a href="#menu#contact" class="sidebar__link u-link" data-title="Hubungi Kami">Hubungi Kami</a>
</div>