<div class="summary__brand">
  <h3 class="summary__title">Data Pekerja</h3>
</div>
<div class="summary__table-wrapper">
  <table class="summary__table">
    <thead>
      <tr>
        <th rowspan="2">No</th>
        <th rowspan="2">Nama</th>
        <th class="summary__table-date-title">Tanggal</th>
        <th rowspan="2" class="summary__table-wide">Total</th>
        <th rowspan="2" class="summary__table-wide">Sudah Dibayar</th>
        <th rowspan="2" class="summary__table-wide">Belum Dibayar</th>
        <th rowspan="2" class="summary__table-wide">Kasbon</th>
        <th rowspan="2" class="summary__table-wide">Gaji</th>
      </tr>
      <tr class="summary__table-date"></tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
</div>