<header class="header">
  <div class="header__brand">
    <div class="header__image">
      <img src="./assets/images/logo.png" class="header__logo u-image">
    </div>
    <h3 class="header__title" onclick="location.reload()">Hannachan</h3>
  </div>
</header>


<section class="workspace__wrapper">
  <div class="workspace__brand">
    <h3 class="workspace__title">Daftar Pekerjaan PT Pupuk Kujang</h3>
  </div>
  <div class="workspace__table-wrapper">
    <table class="workspace__table">
      <thead>
        <tr>
          <th>No</th>
          <th>Pekerjaan</th>
          <th>Unit</th>
          <th>Tarif</th>
          <th>Tipe</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</section>