/* fonts */
@font-face {
  font-family: "Quicksand-Bold";
  src: url("../assets/fonts/Quicksand-Bold.ttf");
}
/* end fonts */

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand-Bold";
  background-color: #eaeaea;
  color: #212121;
  user-select: none;
  scroll-behavior: smooth;
}
/* end reset */

/* utility */
.u-button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #eaeaea;
   cursor: pointer;
   outline: none;
   padding: 0.4rem 0.8rem;
   border: none;
   border-radius: 3px;
   font-family: "Quicksand-Bold";
   box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
   transition: 0.2s;
   &:hover {
      background-color: #212121;
      color: #eaeaea
   }
}
/* end utility */

.container {
}

.header {
   position: sticky;
   top: 0;
   left: 0;
   background-color: #eaeaea;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 10vw;
   box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.3);
   z-index: 999999;
   & .header__title {
      font-size: 1.4rem;
   }
   
   & .header__actions {
      position: relative;
      & .header__dropdown {
         & .header__dropdown-title {
            cursor: pointer;
            transition: 0.3s;
            &.header__dropdown-title--active {
               background-color: #212121;
               color: #eaeaea;
            }
         }
         & .header__dropdown-menu {
            position: absolute;
            top: calc(100% + 1rem);
            right: 0;
            max-height: 50vh;
            overflow: auto;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            padding: 1rem;
            background-color: #eaeaea;
            border-radius: 5px;
            box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
            visibility: visible;
            z-index: 999;
            transition: 0.3s;
            &.header__dropdown-menu--hidden {
               visibility: hidden;
               opacity: 0;
               z-index: -1;
            }
            & .header__dropdown-item {
               white-space: nowrap;
               &.header__dropdown-item--active {
                  background-color: #212121;
                  color: #eaeaea;
               }
            }
         }
      }
   }
   
}

.main {
   display: grid;
   gap: 1rem;
   padding: 2rem 1rem;
   & .main__brand {
      & .main__title {
         text-align: center;
         font-size: 1.6rem;
      }
   }
   & .main__table-wrapper {
      overflow: auto;
      & .main__table {
         width: 100%;
         border-collapse: collapse;
         min-width: 1000px;
         & th, 
         & td {
            padding: 0.4rem 0.8rem;
            border: solid 2px #555555;
            white-space: nowrap;
            & strong {
               color: #555555;
            }
         }
         & th {
            background-color: #212121;
            background-color: #333333;
            color: #ffffff;
         }
         
         & tbody {
            & tr {
               & td {
                  &:nth-child(1) {
                     text-align: center;
                  }
                  &.main__table-workers {
                     position: relative;
                     & .main__table-workers-title {
                        cursor: pointer;
                        transition: 0.2s;
                        &:hover {
                           color: blue;
                        }
                     }
                     & .main__table-workers-list {
                        position: absolute;
                        top: 100%;
                        right: 50%;
                        padding: 1rem;
                        background-color: #eaeaea;
                        border-radius: 5px;
                        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
                        visibility: visible;
                        opacity: 1;
                        z-index: 999;
                        translate: 0 0;
                        transition: 0.3s;
                        &::after {
                           content: "";
                           position: absolute;
                           bottom: 100%;
                           right: 1rem;
                           transform: translateX(-50%);
                           border-width: 8px;
                           border-style: solid;
                           border-color: transparent transparent #eaeaea transparent;
                           filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.2));
                           z-index: 9;
                        }
                        &.main__table-workers-list--hidden {
                           visibility: hidden;
                           opacity: 0;
                           translate: 0 10px;
                        }
                     }
                  }
               } 
            }
         }
         
         & tfoot {
            & tr {
               background-color: #dadada;
            }
         }
      }
   }
}

.summary {
   display: grid;
   gap: 1rem;
   padding: 1rem;
   visibility: visible;
   &.summary--hidden {
      visibility: hidden;
      display: none;
   }
   & .summary__brand {
      & .summary__title {
         text-align: center;
         font-size: 1.6rem;
      }
   }
   & .summary__table-wrapper {
      overflow: auto;
      & .summary__table {
         width: 100%;
         border-collapse: collapse;
         min-width: 1000px;
         & th, 
         & td {
            padding: 0.4rem 0.8rem;
            border: solid 2px #555555;
            white-space: nowrap;
            & strong {
               color: #444444;
            }
         }
         & th {
            background-color: #333333;
            color: #ffffff;
         }
         
         & tbody {
            & tr {
               & td {
                  &:nth-child(1) {
                     text-align: center;
                  }
               } 
            }
         }
         
         & tfoot {
            & tr {
               background-color: #dadada;
            }
         }
         
      }
   }
}

.summary-toggle {
   display: flex;
   justify-content: center;
   padding: 2rem 0;
}