.u-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.u-button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--bg);
   color: var(--text);
   cursor: pointer;
   outline: none;
   padding: 0.4rem 0.8rem;
   border: none;
   border-radius: 3px;
   font-family: "Quicksand-Bold";
   box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
   transition: 0.3s;
}

.u-button-primary {
  background-color: var(--primaryy);
  color: var(--bg);
}

.u-button.u-button-primary:hover {
  background-color: var(--primaryy);
  color: var(--bg);
  box-shadow: 0 0 0 0.25rem rgba(37, 99, 235, 0.5);
}


.u-button.u-button-secondary {
  background-color: var(--border);
  color: var(--text);
}

.u-button.u-button-secondary:hover {
  background-color: var(--border);
  color: var(--text);
  box-shadow: 0 0 0 0.25rem rgba(229, 231, 235, 0.5);
}



.u-button:disabled {
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.u-button:disabled:hover {
  cursor: default;
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
}

.u-button:hover,
.u-button--active {
  background-color: var(--text);
  color: var(--bg);
}

.u-button--active:disabled,
.u-button--active:disabled:hover {
  background-color: var(--text);
  color: var(--bg);
}

.u-icon {
  cursor: pointer;
  color: var(--text);
  width: 1.7rem;
  height: 1.7rem;
  padding: 0.2rem;
  transition: 0.2s;
}

.u-link {
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
  transition: 0.2s;
}

.u-link:hover {
  color: var(--primary);
}

.u-input {
  width: 100%;
  outline: none;
  font-family: "Quicksand-Bold";
  padding: 0.4rem;
  background-color: var(--bg);
  color: var(--text);
  border: solid 3px var(--border);
  border-radius: 3px;
  transition: 0.2s;
}

.u-input:focus {
  border-color: var(--primary-light);
}

.u-input:disabled {
  background-color: var(--disabled-input-bg);
  color: var(--disabled-input-text);
  border-color: var(--disabled-input-border);
}