:root {
  --primaryy: #2563eb; /* sementara sebelum primary ganti theme */
  --primary: #2563eb;
  --primary-light: #dbeafe;
  --primary-dark: #1d4ed8;
  --success: #16a34a;
  --success-light: #ecfdf5;
  --success-light-hover: #bbf7d0;
  --success-dark: #15803d;
  --warning: #f59e0b;
  --danger: #dc2626;
  
  /* New color */
  --paid: #1e40af;
  --paid-light: #dbeafe;
  --paid-lighter: #eff6ff;
  --paid-lightest: #f8fbff;
  
  
  --text: #1f2937;
  --text-light: #6b7280;
  --border: #e5e7eb;
  --border-hover: #bfbfbf;
  --bg: #f8fafc;
  --white: #ffffff;
  --disabled-bg: #d1d5db;
  --disabled-text: #6b7280;
  --disabled-input-bg: #f1f5f9;
  --disabled-input-text: #94a3b8;
  --disabled-input-border: #e2e8f0;
  
}