.notice--fixed {
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.notice__text {
  display: block;
  font-style: italic;
  text-align: center;
  padding: 0.3rem 0.8rem;
  font-size: 0.8rem;
/*   color: #9f1239;
background-color: #fde8f3;
border: 1.5px solid #f9a8d4; */
  background-color: var(--primary-light);
  color: var(--primary-dark);
  border-radius: 25px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.notice__text.is-hidden{
  opacity: 0;
}