.sidebar {
  position: fixed;
  /* min-width: 30vw; */
  width: max-content;
  right: 0;
  bottom: 0;
  padding: 0.6rem;
  background-color: var(--bg);
  box-shadow: -1.5px 0 2px rgba(0, 0, 0, 0.05);
  visibility: visible;
  z-index: 99;
  transform: translateX(0);
  transition: 0.5s ease;
}

.sidebar.sidebar--hidden {
  visibility: hidden;
  transform: translateX(100%);
}

.sidebar-blackscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  padding: 0.6rem;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  scale: 1;
  z-index: 98;
  transition: opacity 0.5s, scale 0s;
}

.sidebar-blackscreen.sidebar-blackscreen--hidden {
  visibility: hidden;
  opacity: 0;
  scale: 0;
  transition: visibility 0s 0.5s, opacity 0.5s, scale 0s 0.5s;
}

.sidebar .sidebar__controls {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.sidebar .sidebar__controls .sidebar__item {
  
}

.sidebar-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: visible;
  opacity: 1;
  scale: 1;
  z-index: 999;
  transition: opacity 0.5s, scale 0s;
}

.sidebar-content--hidden {
  visibility: hidden;
  opacity: 0;
  scale: 0;
  transition: visibility 0s 0.5s, opacity 0.5s, scale 0s 0.5s;
}

.sidebar-content__controls {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.3);
}

.sidebar-content__header {
  position: sticky;
  top: 0;
  left: 0;
  flex-shrink: 0;
  width: 100%;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.sidebar-content__main {
  flex: 1;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}










.sidebar-content .calculator {}

.sidebar-content .calculator .calculator__navbar {
  padding: 1rem 0;
  padding-top: 0;
  overflow: auto;
  white-space: nowrap;
}

.sidebar-content .calculator .calculator__tab {
  display: inline-block;
  margin: 0 0.5rem;
}

.sidebar-content .calculator .calculator__main {
  display: grid;
  gap: 1rem;
  padding: 1rem 0;
}

.sidebar-content .calculator .calculator__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 1rem;
}

.sidebar-content .calculator .calculator__list {
  display: grid;
  gap: 1rem;
}

.sidebar-content .calculator .calculator__list-main {
  display: grid;
  gap: 1rem;
}

.sidebar-content .calculator .calculator__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.sidebar-content .calculator .calculator__list-item input {
  width: 100%;
}

.sidebar-content .calculator .calculator__list-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.sidebar-content .calculator .calculator__output {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--success-light);
  color: var(--success);
  border-radius: 3px;
  border: solid 3px var(--success-light-hover);
}












.sidebar-content .help {}

.sidebar-content .help .help__grid {}

.sidebar-content .help .help__row {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  padding: 1rem;
}

.sidebar-content .help .help__row:nth-child(even) {
  background-color: var(--bg);
}

.sidebar-content .help .help__col {}

.sidebar-content .help .help__heading {
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem;
  padding-top: 0;
}

.sidebar-content .help .help__title,
.sidebar-content .help .help__paragraph {
  overflow-wrap: anywhere;
}

.sidebar-content .help .help__title {
  font-size: 1rem;
}

.sidebar-content .help .help__paragraph {}


.sidebar-content .feedback {}

.sidebar-content .feedback .feedback__controls {
  display: grid;
  gap: 1rem;
}

.sidebar-content .feedback .feedback__item {}

.sidebar-content .feedback label {
  display: block;
  font-weight: bold;
  padding: 0.4rem 0.2rem;
}

.sidebar-content .feedback textarea {
  min-height: 120px; /* pake js biar responsive*/
  color: var(--text);
  display: block;
  outline: none;
  padding: 0.4rem;
  border-radius: 3px;
  border: solid  2px var(--border);
  background-color: var(--bg);
  width: 100%;
  font-family: "Quicksand-Bold";
  font-size: 1rem;
  transition: 0.2s;
}

.sidebar-content .feedback textarea:focus {
  border-color: var(--border-hover);
}

.sidebar-content .feedback .feedback__submit {
  display: flex;
  justify-content: end;
}

.sidebar-content .feedback .feedback__button {
  
}



.sidebar-content .report {}

.sidebar-content .report .report__controls {
  display: grid;
  gap: 1rem;
}

.sidebar-content .report .report__item {}

.sidebar-content .report label {
  display: block;
  font-weight: bold;
  padding: 0.4rem 0.2rem;
}

.sidebar-content .report textarea {
  min-height: 120px; /* pake js biar responsive*/
  color: var(--text);
  display: block;
  outline: none;
  padding: 0.4rem;
  border-radius: 3px;
  border: solid  2px var(--border);
  background-color: var(--bg);
  width: 100%;
  font-family: "Quicksand-Bold";
  font-size: 1rem;
  transition: 0.2s;
}

.sidebar-content .report textarea:focus {
  border-color: var(--border-hover);
}

.sidebar-content .report .report__submit {
  display: flex;
  justify-content: end;
}

.sidebar-content .report .report__button {
  
}



.sidebar-content .contact {}

.sidebar-content .contact .contact__controls {
  display: grid;
  gap: 1rem;
  padding: 0 0.4rem;
}

.sidebar-content .contact .contact__item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem;
}

.sidebar-content .contact .contact__icon-gmail svg {
  scale: 1.1;
  translate: 0 3px;
}

.sidebar-content .contact .contact__icon-whatsapp svg {
  scale: 1.7;
}













.sidebar-content .theme {}

.sidebar-content .theme__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.sidebar-content .theme__wrapper .theme__item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar-content .theme__wrapper .theme__item:hover {
  background-color: var(--primary-light);
}

.sidebar-content .theme__wrapper .theme__item.active {
  background-color: var(--primary-light);
}

.sidebar-content .theme__wrapper .theme__item .theme__icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.sidebar-content .theme__wrapper .theme__item .theme__label {}